.appbar-menu-navlink-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.change-lang-button.active {
  background-color: rgba(0,0,0, .1);

  &:hover {
    background-color: rgba(0,0,0, .1);
  }
}
.main-menu_link {
  position: relative;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  text-align: center;
  min-width: 90px;
  margin: 6px 8px;
  border-radius: 4px;
  color: inherit;
  display: block;
  text-decoration: none;

  &.active::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    border-radius: 4px;
  }
}

#menu-appbar {
  & .main-menu_link {
    &.active::after {
      background-color: #000000;
    }
  }
}

.appbar-menu_item {
  justify-content: flex-start;

  &:last-of-type::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, .12);
  }

  & .appbar-menu_link {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 0;
    text-decoration: none;
    text-transform: none;
    color: inherit;
  }

  .appbar-menu_button {
    justify-content: flex-start;
    font-weight: 400;
    font-size: 1rem;
    padding: 0;
    text-transform: none;
    color: inherit;

    &:hover {
      background-color: transparent;
    }

    & svg.appbar-menu_logout-icon {
      font-size: 17px;
      color: #dc1b1b;
      margin-left: 10px;
    }
  }

}