.news-wrapper {
  margin-bottom: 50px;
}
.load-more-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}